h1{
    text-align: center;
}

.custom-logo{
    display: flex;
    justify-content: flex-start;

}
.logo-girafe{

    background-image: url(../../logo/girafe.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0;
}